.player-hand {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.player-hand h2 {
    margin: 0;
    margin-bottom: 10px;
}

.hand-cards {
    display: flex;
    position: relative;
    height: 120px;
}

.card-wrapper {
    position: absolute;
    transition: .3s;
}

.card-wrapper:hover {
    transform: translateY(-10%);
}