* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #034100;
}

.player-cards-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.player-cards-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card {
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.facedown-card {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
}

.faceup-card {
    background-color: #ffffff;
    text-align: center;
    line-height: 75px;
    font-size: 36px;
    transition: .3s;
}

.faceup-card:hover {
    transform: translateY(-10%);
}

.faceup-card.selected {
    transform: translateY(-35%);
}


#left-player-cards {
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translateY(-50%);
}

#right-player-cards {
    position: absolute;
    right: 10%;
    top: 40%;
    transform: translateY(-50%);
}

#my-cards {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
